#sab{
    text-align: center;
    margin-top: -9%;
}
element.style {
    width: 500px;
    margin-left: 15%;
    margin-top: -2%;
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody{
    text-align: center;
}
div{
    display: block;
}
body {
    border: 1px solid black;
    width: 900px;
    margin: auto;
    padding: 2%;
}